/*Css reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6da1a1 !important;
}

.cardHighlight {
  min-height: 100%;
}


.Carousel{
  width: 800px;
  margin: auto;
}

.Carousel1{
  height:600px;
}

.size1 {
  width: 300px !important;
  height: 85px !important;
}